APP_NAME=weather-platform
APP_ENV=local
APP_VERSION=0.1.0
LOG_LEVEL=INFO
DATABASE_URL=postgresql+psycopg2://weather:weather@db:5432/weather
POSTGRES_DB=weather
POSTGRES_USER=weather
POSTGRES_PASSWORD=weather
POSTGRES_PORT=5432
POSTGRES_HOST=db
ALCHEMY_ECHO=false
